__pycache__/
*.pyc

minio-data/

metabase/data/metabase.db/metabase.db.trace.db
metabase/plugins/

notebooks/.ipynb_checkpoints/

*.log

airflow/postgres/
airflow/airflow-logs/scheduler/

clickhouse_data/

jupyter/
notebooks/

docker-compose_(копия).yml

spark_job_launch.txt

jars/*.jar
