__pycache__/
*.pyc

jobs-logs/

minio-data/

metabase/data/
metabase/plugins/

notebooks/.ipynb_checkpoints/

*.log

airflow/airflow-logs/
airflow/postgres/

clickhouse_data/

jupyter/
notebooks/

docker-compose_(копия).yml

spark_job_launch.txt

jars/*.jar
